body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.section {
  margin: 0;
  overflow: auto;
}

.section--bg-pic {
  margin: 0;
  width: 100%;
  color: white;
}

.char-stats {
  /*background: transparent;*/
  width: 20rem;
  overflow: auto;
  position: fixed;
  bottom: 5rem;
  left: 5rem;
}

/*.char-stats__av {
  float: left;
}*/

.char-stats__avimg {
  float: left;
  width: 9rem;
}
